input[type="range"] {
  -webkit-appearance:none;
  appearance:none;
  cusor: pointer;
  width: 300px;
}
input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 0.5rem;
}
input[type="range"]::-moz-range-thumb {
  border: none; 
  border-radius: 0;
  background-color: #053a5f;
  height: 25px;
  width: 10px;
}
input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a4f;
  outline: 3px solid #053a4f;
  outline-offset: 0.125rem; 
}  
button{
  background-color:green;
  color: white;
  border:3px solid black;
  border-radius: 5px;
  width:150px;
}
#numbers{
  width:70px;
  border:2px solid green;
  
}