<!DOCTYPE html>
<html>

<head>
  <title>Breakpad</title>
</head>

<body>
  <link rel="stylesheet" href="styles/breakpad.css">
  <input class="range"  type="range"></input>
  <input id="numbers"></input>
  <p>Speed[km/h]</p><br>
  
  <input class="range"  type="range"></input>
  <input id="numbers"></input>
  <p>Brake Power[PSI]</p><br>
  
  <input class="range"  type="range"></input>
  <input id="numbers"></input>
  <p>Brake Time[s]</p><br>
  
  <input class="range"  type="range"></input>
  <input id="numbers"></input>
  <p>Rest Time[s]</p><br>
  
  <input class="range"  type="range"></input>
  <p>Repeat</p><br>
  
  <button type="submit">Run</button>
  <p></p>
  
  
</body>

</html>