<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <center>
  <link rel="stylesheet" href="styles/index1.css">
    <form>
  <input type="text" pattern="[0-9]+" required oninvalid="this.setCustomValidity('Please enter a number.')">
  <p>Speed[km/h]</p>


  <!-- <input type="text" pattern="[0-9]+" required oninvalid="this.setCustomValidity('Please enter a number.')" oninput="this.setCustomValidity('')">
  <p>Brake Power[PSI]</p>

  <input type="text" pattern="[0-9]+" required oninvalid="this.setCustomValidity('Please enter a number.')" oninput="this.setCustomValidity('')">
  <p>Brake Time[s]</p>

  <input type="text" pattern="[0-9]+" required oninvalid="this.setCustomValidity('Please enter a number.')" oninput="this.setCustomValidity('')">
  <p>Rest Time[s]</p>
  
  <input type="text" pattern="[0-9]+" required oninvalid="this.setCustomValidity('Please enter a number.')" oninput="this.setCustomValidity('')">
  <p>Repeat</p>
  
  

  <button >Run</button> -->
<button type="submit">Run</button>



   
    

</center>

</form>
</body>

</html>